
<%if current_user.nil?%>
  <h1 class="display-3 text-center">Thanks for your help! <span class="glyphicon glyphicon-heart"></span></h1>
<%else%>
  <h1 class="display-3 text-center">Thanks for your help! <%=@user.first %> <%=@user.last %> <span class="glyphicon glyphicon-heart"></span></h1>
<%end%><br>
<br>
<div class="container">
  <div class="row border-bottom-clean">
    <h2><strong>You will get</strong></h2>
  </div>
  <div class="row">
    <div class="posts col-sm-12 border-bottom-clean">
      <article class="post clearfix border-bottom-clean border-top-grey">
        <div class="posts col-sm-12 ">
          <div class="row">
            <div class="posts col-sm-3">
              <%= image_tag @promise.avatar.url, :class=>"thumb thumb-project pull-left style-img visible-md visible-lg", :id=>"no-margin-top" %>
            </div>
            <div class="posts col-sm-9">
              <div class="row">
                <p class="post-contenido text-justify"> <%=@promise.description.truncate(200, separator: ' ')%></p>
              </div>
              <div class="row">
                <div class="posts col-sm-4 edit-project-forms">
                  <p class="post-contenido text-justify"><strong> Amount: </strong><%=@promise.amount%></p>
                </div>
              </div>
              <div class="row">
                <div class="posts col-sm-6 edit-project-forms">
                  <p> <strong>Delivery Date: </strong><%=@promise.delivery_time%></p>
                </div>
              </div><br>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
    <%= form_for(@fund) do |f| %>
      <%if !@fund.errors.empty?%><div class="alert alert-danger"><%= devise_error_messages! %></div><%end%>
      <div class="row">
        <div class="text-center">
          <div class="actions">
            <%= f.hidden_field :project, :value => params[:project] %>
            <%= f.hidden_field :promise, :value => params[:promise] %>
            <%= f.submit "Donate!" , class: "btn btn-success btn-lg" %>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
