
<div class="row margin-top-20 padding-5 border-bottom-grey">
  <div class="col-md-6 visible-md visible-lg">
    <%=image_tag(object.avatar.url, class: "thumb-v")%>
  </div>
  <div class="col-md-6">
    <div class="row">
      <strong><%=object.first%> <%=object.last%></strong>
    </div>
    <%if object.first!="Anonymous"%>
      <div class="row">
        <strong>Member since: </strong><%=User.member_since(object)%>
      </div>
    <%end%>
    <div class="row">
      <strong>Donation: <%=number_to_currency(UserFundProject.last_donation_user(object, @project))%></strong>
    </div>
    <%if object.first!="Anonymous"%>
      <div class="row">
        <%= link_to 'View Profile', user_path(object), class: 'btn btn-primary btn-sm' %>
      </div>
    <%end%>
  </div>
</div>



