<p>Hi <%= @user.first %> <%= @user.last %>,</p>

<p>Thanks for buying a promise! To confirm your funding click the URL below. </p>
<ul>
  <li>Project: <%=@project.name%></li>
  <li>Promise: <%=@promise.description%></li>
  <li>Amount: <%=@promise.amount%></li>
</ul>
<p><%=  link_to "confirm", confirm_promise_url(@fund.confirm_token, host: "https://raiseyourheart.herokuapp.com/")%></p>
