<!-- Basado en https://bootsnipp.com/snippets/OPpVZ-->
<footer class="footer1">
  <div class="container">

    <div class="row">
      <div class="col-lg-3 col-md-3">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">Useful links</h1>
            <ul>
              <li><%= link_to "Home", root_path, html_options: {class: "active"} %></li>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
            </ul>

          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">Start Now</h1>
            <ul>
              <li><%= link_to "Log In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_recent_news">
            <h1 class="title-widget">Contact Detail </h1>
              <%= link_to image_tag("logotest2.png"), root_path %>
              <p><b>Email id:</b> <a href=#>info@ryh.com</a></p>
              <p><b>Helpline Numbers (8AM to 10PM): </b>
                 +569-99999999</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row copyright-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <div class="copyright">
            © 2018, <%= link_to "Raise Your Heart", root_path %>
          </div>
        </div>
    </div>
  </div>
</footer>
