<!doctype html>
<html>
<head>
  <title>Raiseyourheart</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <%= render 'layouts/header' %>

  <% if notice %>
    <p class="alert alert-success notice" role="alert"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger" role="alert"><%= alert %></p>
  <% end %>

  <div class="container wrapper">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

</body>
</html>